#top{
    width:"100%";
    background-Color: "lightgreen";
    align-content: "center";
}

.block{
    background-color: "grey";
    border-style: "solid";
}

.pic{
    display:"inline-block";
    align-content: "center";
}
p{
    color: red;
    font-weight: bold;    
    font-size: 20px;
}
h2{
    font-size: 30px;
}

a{
    font-size:20ps;
    font-weight: bold;
}